doctype html
html
   include ./layout
   link(rel='stylesheet',href='/css/addData.css')
   script(src='/js/addData.js')
   body
      form(action="javascript:",onsubmit="uploadPictureData()")
         label 图片路径
         input#picPath(type="text",placeholder="/xxx/xxxxx/")
         br
         br
         label 图片标题
         input#picTitle(type="text",placeholder="例如：幸福的一家")
         br
         br
         label 图片数量
         input#picCount(type="text",placeholder="请输入数字")
         br
         br
         label 图片类型
         select#picType
            option(value="jpg") jpg
            option(value="png") png
         br
         br
         button(type="summit") 添加